.about {
    &-question {
        &__title {
            margin-top: 30px;
            margin-bottom: 5px;
        }
    }

    &-accordion {
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        padding: 16px 18px 16px 14px;
        max-width: 910px;
        width: 100%;
        margin-top: 20px;

        &__title {
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            img {
                position: relative;
                transform: rotate(-90deg);
                transition: all 0.3s;
                margin-left: 20px;
            }
        }

    }

    &-form {
        border-radius: 4px;
        background-color: $grey-light;
        max-width: 910px;
        width: 100%;
        padding: 30px 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 23px;
        row-gap: 18px;

        &__title {
            margin-bottom: 22px;
            margin-top: 65px;
        }

        &__btn {
            width: fit-content;
        }

        &__text {
            grid-column: 1 / 3;
            color: #777;
            a {
                text-decoration: none;
                color: $blue;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            grid-column: 1 / 3;

            &:nth-child(1) {
                grid-column: 1 / 2;
            }

            &:nth-child(2) {
                grid-column: 2 / 3;
            }
        }
    }
}