.footer {
    background-color: $grey-light;
    padding: 38px 0px;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .nav__link {
        margin-left: 30px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        color: $grey;
        margin-top: 6px;
        line-height: 120%;
        a {
            color: $grey;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        &:last-child {
            font-size: 13px;
        }
    }
}