.select {
    display: inline-block;
    margin-left: 10px;
    max-width: 205px;
    width: 100%;
    position: relative;

    &-header {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        padding: 10px 12px 10px 14px;

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-left: auto;
            transition: all 0.4s;
            &_active {
                transform: rotate(180deg);
            }
        }

        &__item {
            display: inline-block;
        }
    }

    &-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 95%;
        border: 1px solid #ddd;
        border-radius: 0px 0px 4px 4px;
        border-top: none;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        z-index: 2;
        transition: all 0.4s;

        &__item {
            padding: 10px 12px 10px 14px;
            cursor: pointer;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
    &.is-active {
        .select-body {
            opacity: 1;
            visibility: visible;
        }
    }
}